certifi==2026.6.17
charset-normalizer==3.4.9
colorama==0.4.6
flatbuffers==25.12.19
idna==3.18
ImageIO==2.37.3
insightface==1.0.1
joblib==1.5.3
lazy-loader==0.5
ml_dtypes==0.5.4
narwhals==2.24.0
networkx==3.6.1
numpy==2.5.1
onnx==1.22.0
onnxruntime==1.27.0
opencv-python==5.0.0.93
packaging==26.2
pandas==3.0.3
pillow==12.3.0
protobuf==7.35.1
python-dateutil==2.9.0.post0
requests==2.34.2
scikit-image==0.26.0
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
threadpoolctl==3.6.0
tifffile==2026.7.14
tqdm==4.68.4
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
